*
!.gitignore

!*/
!**/

!App/mnrand/*
!App/mnrand/assets/**
!App/mnrand/lib/**
!**/AndroidManifest.xml

!*.pas
!*.dfm
!*.res
!*.dpr
!*.ini
!*.groupproj
!*.dproj
!*.bat
!**/Data

gitinit.bat
gitme(global).bat
gitsync.bat
